@import url("https://fonts.googleapis.com/css?family=DM+Sans:400, 700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

html::-webkit-scrollbar {
  width: thin;
}

html::-webkit-scrollbar-track {
  background-color: #f8f4eb;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 100px;
}

html:hover {
  scrollbar-color: #ff6b66;
  overflow-y: auto;
}
